<a href="https://colab.research.google.com/github/rohitshyam/python/blob/main/sort_list_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

test_string="harshshyamrohit"
print("the original string:"+str(test_string))
res=''.join(sorted(test_string))
print("string after sorting:"+str(res))
test_string="hashyhit"
print("the original string:"+str(test_string))
res=''.join(sorted(test_string))
print("string after sorting:"+str(res))

the original string:harshshyamrohit
string after sorting:aahhhhimorrssty
the original string:hashyhit
string after sorting:ahhhisty

In [10]:
a=[6,76,6,88,8,6,4,8,3,9,448,4,93]
print()
a.sort(reverse=False)
print(a)
a.sort(reverse=True)
print(a)
a=[6,76,6,88,8,6,4,8,3,9,448,4,93]
print()
a.sort(reverse=False)
print(a)
print(a)
a.sort(reverse=True)
print(a)

[3, 4, 4, 6, 6, 6, 8, 8, 9, 76, 88, 93, 448]
[448, 93, 88, 76, 9, 8, 8, 6, 6, 6, 4, 4, 3]

[3, 4, 4, 6, 6, 6, 8, 8, 9, 76, 88, 93, 448]
[3, 4, 4, 6, 6, 6, 8, 8, 9, 76, 88, 93, 448]
[448, 93, 88, 76, 9, 8, 8, 6, 6, 6, 4, 4, 3]

In [30]:
a=[]
print(a)
a=a+[10]
print(a)
a.append(12)
print(a)
a=[1]+a
print(a)
a.insert(1,"apple")
print(a)
a.pop()
print(a)
a=a+[1,2,3,4,5]
print(a)
a.pop(3)
print(a)
a.remove("apple")
print(a)
a.pop(5)
print(a)

[]
[10]
[10, 12]
[1, 10, 12]
[1, 'apple', 10, 12]
[1, 'apple', 10]
[1, 'apple', 10, 1, 2, 3, 4, 5]
[1, 'apple', 10, 2, 3, 4, 5]
[1, 10, 2, 3, 4, 5]
[1, 10, 2, 3, 4]